.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 70px;
  z-index: 1000;
  transition: 1s;
}

.navbarLogo a img {
  height: 50px;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 60px;
  margin-left: auto;
  margin-right: 60px;
}

.navbarLinks a {
  color: #818181;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s;
  letter-spacing: 1px;
}

.navbarLinks a:hover {
  color: #c2eb77;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s;
}

.navbarScrolled {
  box-shadow: 0px 1px 5px #888;
  background-color: #fafafa;
  transition: 1s;
}
