@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
  /*background-color: #d2e4cd;*/
  font-family: "Cantarell";
}

*::selection {
  background-color: #206e0a;
  color: #fff;
}
@media screen and (width < 480px) {
  body {
    font-size: 15px;
  }
}
